$main-color: #1f2041;
$text-color-primary: rgba(31, 32, 65, 0.75);
$placeholder-color: rgba(31, 32, 65, 0.5);
$text-color-secondary: rgba(31, 32, 65, 0.25);
$transparent-color: rgba(31, 32, 65, 0.05);
$primary-color: #bc9cff;
$secondary-color: #6fcf97;
