.main-color {
  color: #1f2041;
}

.text-color-primary {
  color: rgba(31, 32, 65, 0.75);
}

.placeholder-color {
  color: rgba(31, 32, 65, 0.5);
}

.text-color-secondary {
  color: rgba(31, 32, 65, 0.25);
}

.transparent-color {
  color: rgba(31, 32, 65, 0.05);
}

.primary-color {
  color: #bc9cff;
}

.secondary-color {
  color: #6fcf97;
}
