%input {
  border: 1px solid $placeholder-color;
  border-radius: 4px;
  padding: 9px 0 9px 15px;
  width: 100%;

  &::placeholder {
    color: $placeholder-color;
    opacity: 1;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $label-color;
  }
}

%label {
  display: inline-block;
  margin-bottom: 5px;
  line-height: 1;
}
