@import '@styles/fonts.scss';
@import '@styles/color-vars.scss';

body {
  font-family: 'Montserrat', serif;
}
* {
  box-sizing: border-box;
}

.vs-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
