@import "@styles/fonts";
@import "@styles/color-vars";
@import "@styles/buttons";

body {
  font-family: "Montserrat", serif;
}

* {
  box-sizing: border-box;
}

.vs-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
